<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> développe et donne des ateliers de formation portant sur les habiletés fondamentales
  sur les données nécessaires afin de réaliser des projets scientifiques ouverts et reproductibles.
  Ces formations sont destinées aux scientifiques possédant peu ou pas d'expérience computationnelle, 
  et les leçons sont conçues pour des disciplines spécifiques, se fondant ainsi sur les connaissances existantes des participants
  Les participants seront invités à s'entraider et appliquer les nouvelles connaissances acquises dans ses projets scientifiques.
</p>
<p align="center">
  <em>
    Pour plus d'information sur les sujets traités et leur choix, veillez consulter notre publication
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
